 <h2>Login</h2> 

<form action="/signup" method="post">
<label for="email">Email:
<input type="email" name="email" id="email">
</label>
<label for="password">Email:
<input type="password" name="password" id="password">
</label>
<button type="submit">Login</button>
<a href="/auth/google">Login with google</a>
</form>