<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />

<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />


</head>
<body>
  <ul>
    <li><a href="/"><button>Home</button></a></li>
    <br>
    <li><a href="/signup"><button>Signup</button></a></li>
    <br>
    <li><a href="/login"><button>Login</button></a></li>
    <br>
    <li><a href="/private-page"><button>Private page</button></a></li>
    <br>
    <li><a href="/logout"><button>Logout</button></a></li>
    <br>
    <li><a href="/auth/google"><button>login with google</button></a></li>
    
  </ul>

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<link
rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
type="text/css"
/>
  

  {{{body}}}

  <script src="/javascripts/script.js"></script>
  

</body>
</html>